# Example Migration (Google Sheets Assisted)

This notebook exports the `words` table to Google Sheets, lets you use built-in functions such as `DETECTLANGUAGE` and `GOOGLETRANSLATE`, and then imports your curated results to update the database.

Workflow overview:

1. Run the **export** cells below to produce a CSV (and on-screen preview) of every word that still has legacy `example_en` text.
2. Copy the CSV into Google Sheets. Add helper columns that use `DETECTLANGUAGE` and `GOOGLETRANSLATE` to classify / translate each sentence. Decide what to do with each row (e.g., `APPLY`, `SKIP`).
3. Download the annotated sheet as `CSV` (include your decision columns) and save it back into the repo (e.g., `tmp/examples_from_sheets.csv`).
4. Use the **import** cells to read your decisions, build the new `examples` payloads, and (optionally) write them back to PostgreSQL.

> ⚠️ Before applying updates, keep an up-to-date duplicate table (e.g., `words_duplicate_21_10_2025`) so you can quickly revert with `scripts/enrichment/restore-words-from-duplicate.ts`.

## 1. Environment setup

Install the Python tooling once:

```bash
pip install pandas sqlalchemy python-dotenv tqdm
```

Ensure your `.env` (or environment) exposes `DATABASE_URL` in a format compatible with SQLAlchemy / Drizzle, e.g. `postgresql://postgres:postgres@localhost:5432/germanverbs`.

In [39]:
import json
import os
from pathlib import Path
from typing import Any, Dict, List, Optional

import pandas as pd
from dotenv import load_dotenv
from sqlalchemy import create_engine, text
from sqlalchemy.engine import Engine
from tqdm.auto import tqdm

load_dotenv()

DATABASE_URL = os.getenv("DATABASE_URL")
if not DATABASE_URL:
    raise RuntimeError("DATABASE_URL is not set. Update your .env or export it before running this notebook.")

engine: Engine = create_engine(DATABASE_URL)
print("Connected to", engine.url.render_as_string(hide_password=True))

EXPORT_DIR = Path("tmp")
EXPORT_DIR.mkdir(exist_ok=True)
EXPORT_PATH = EXPORT_DIR / "examples_for_google_sheets.csv"
IMPORT_PATH = EXPORT_DIR / "examples_from_google_sheets.csv"

Connected to postgresql://postgres:***@db.kagsgjzijfgvtvkylczl.supabase.co:5432/postgres

In [40]:
QUERY = text(
    """
    SELECT id,
           lemma,
           pos,
           example_de,
           example_en,
           examples::text AS examples_json
    FROM words
    ORDER BY id
    """
)

df = pd.read_sql_query(QUERY, engine)
print(f"Loaded {len(df)} words from the database.")
df.head()

Loaded 3080 words from the database.

,id,lemma,pos,example_de,example_en,examples_json
0,1,arbeiten,V,Sie arbeitete in einer Bank.,She worked in a bank.,"[{""sentence"": ""Sie arbeitete in einer Bank."", ..."
1,2,essen,V,Er aß ein Sandwich.,He ate a sandwich.,"[{""sentence"": ""Er aß ein Sandwich."", ""translat..."
2,3,gehen,V,Er ging zur Schule.,He went to school.,"[{""sentence"": ""Er ging zur Schule."", ""translat..."
3,4,haben,V,Ich hatte keine Zeit.,I had no time.,"[{""sentence"": ""Ich hatte keine Zeit."", ""transl..."
4,5,heißen,V,Er hieß Peter.,His name was Peter.,"[{""sentence"": ""Er hieß Peter."", ""translations""..."

In [26]:
df.to_clipboard(index=False)

In [35]:
to_export = pd.read_clipboard()

In [38]:
to_export.head()

,id,lemma,pos,example_de,example_en,new example,new example translation
0,1,arbeiten,V,Sie arbeitete in einer Bank.,She worked in a bank.,Er hat als Koch gearbeitet.,He worked as a cook.
1,2,essen,V,Er aß ein Sandwich.,He ate a sandwich.,Wir haben zu Mittag gegessen.,We had lunch.
2,3,gehen,V,Er ging zur Schule.,He went to school.,Wir sind nach Hause gegangen.,We went home.
3,4,haben,V,Ich hatte keine Zeit.,I had no time.,Er hat viel Geld gehabt.,He had a lot of money.
4,5,heißen,V,Er hieß Peter.,His name was Peter.,Sie hat anders geheißen.,Her name was different.

In [37]:
to_export.to_csv("fix_examples.csv", index=False)

In [41]:
def parse_examples(raw: Optional[str]) -> List[Dict[str, Any]]:
    if not raw:
        return []
    try:
        parsed = json.loads(raw)
        if isinstance(parsed, list):
            return parsed
    except json.JSONDecodeError:
        pass
    return []


df["examples"] = df["examples_json"].apply(parse_examples)

def first_sentence(entries: List[Dict[str, Any]]) -> str:
    for entry in entries:
        sentence = (entry.get("sentence") or "").strip()
        if sentence:
            return sentence
    return ""


def first_translation(entries: List[Dict[str, Any]]) -> str:
    for entry in entries:
        translations = entry.get("translations") or {}
        english = (translations.get("en") or "").strip()
        if english:
            return english
    return ""

In [20]:
mask = df["example_en"].fillna("").str.strip() != ""
sheet_export = df.loc[mask, ["id", "lemma", "pos", "example_de", "example_en"]].copy()
sheet_export["existing_sentence"] = df.loc[mask, "examples"].apply(first_sentence)
sheet_export["existing_translation_en"] = df.loc[mask, "examples"].apply(first_translation)

sheet_export.to_csv(EXPORT_PATH, index=False)
print(f"Saved export for Google Sheets to {EXPORT_PATH.resolve()}")
sheet_export.head()

Saved export for Google Sheets to C:\Projects\GermanVerbMaster\notebooks\tmp\examples_for_google_sheets.csv

,id,lemma,pos,example_de,example_en
0,1,arbeiten,V,Sie arbeitete in einer Bank.,Er hat als Koch gearbeitet.
1,2,essen,V,Er aß ein Sandwich.,Wir haben zu Mittag gegessen.
2,3,gehen,V,Er ging zur Schule.,Wir sind nach Hause gegangen.
3,4,haben,V,Ich hatte keine Zeit.,Er hat viel Geld gehabt.
4,5,heißen,V,Er hieß Peter.,Sie hat anders geheißen.

In [21]:
sheet_export[sheet_export.example_de != sheet_export.existing_sentence].values[0]

AttributeError: 'DataFrame' object has no attribute 'existing_sentence'

### Export all stored examples as a flat table

Run the cell below to expand the `examples` array for every word into a CSV (`tmp/examples_flat_export.csv`). Each row contains the German sentence and its English translation (if available), which is helpful when auditing or bulk-editing existing examples.

In [46]:
row

id                                                            3080
lemma                                                      sowieso
pos                                                           Part
example_de       Das Nummernschild war K sowieso 132. Ich hab’s...
example_en       The number plate was K something 132. I couldn...
examples_json    [{"sentence": "Das Nummernschild war K sowieso...
examples         [{'sentence': 'Das Nummernschild war K sowieso...
Name: 3079, dtype: object

In [56]:
def fix_mojibake(value):
    try:
        return value.encode("latin1").decode("utf-8")
    except:
        return value

In [58]:
flat_rows: List[Dict[str, Any]] = []
for _, row in df.iterrows():
    entries = row.examples
    if not isinstance(entries, list):
        continue
    for entry in entries:
        if not isinstance(entry, dict):
            continue
        sentence = (entry.get("sentence") or "").strip()
        translations = entry.get("translations") or {}
        english = (translations.get("en") or "").strip()
        if not sentence and not english:
            continue
        flat_rows.append(
            {
                "id": row.id,
                "lemma": fix_mojibake(row.lemma),
                "pos": row.pos,
                "example_de": fix_mojibake(row.example_de),
                "example_en": row.example_en,
                "sentence_de": fix_mojibake(sentence),
                "translation_en": english,
            }
        )

flat_df = pd.DataFrame(flat_rows)
flat_export_path = EXPORT_DIR / "examples_flat_export.csv"
flat_df.to_csv(flat_export_path, index=False)
print(f"Flattened {len(flat_df)} example rows to {flat_export_path.resolve()}")
flat_df.head()

Flattened 7404 example rows to C:\Projects\GermanVerbMaster\notebooks\tmp\examples_flat_export.csv

,id,lemma,pos,example_de,example_en,sentence_de,translation_en
0,1,arbeiten,V,Sie arbeitete in einer Bank.,She worked in a bank.,Sie arbeitete in einer Bank.,
1,1,arbeiten,V,Sie arbeitete in einer Bank.,She worked in a bank.,Er hat als Koch gearbeitet.,He worked as a cook.
2,2,essen,V,Er aß ein Sandwich.,He ate a sandwich.,Er aß ein Sandwich.,
3,2,essen,V,Er aß ein Sandwich.,He ate a sandwich.,Wir haben zu Mittag gegessen.,We had lunch.
4,3,gehen,V,Er ging zur Schule.,He went to school.,Er ging zur Schule.,

In [57]:
fix_mojibake(row.example_de)

'Er aß ein Sandwich.'

In [65]:
flat_df.loc[flat_df["sentence_de"] == flat_df["example_de"], "translation_en"] = flat_df["example_en"]

In [67]:
flat_df["sentence_count"] = flat_df.groupby("id")["id"].transform("count")

In [72]:
flat_df = flat_df[flat_df["sentence_count"] >= 2].copy()

In [75]:
flat_df = flat_df[
    ~(
        (flat_df["sentence_de"] == flat_df["example_de"]) &
        (flat_df["translation_en"] == flat_df["example_en"])
    )
].copy()
flat_df

,id,lemma,pos,example_de,example_en,sentence_de,translation_en,sentence_count
1,1,arbeiten,V,Sie arbeitete in einer Bank.,She worked in a bank.,Er hat als Koch gearbeitet.,He worked as a cook.,2
3,2,essen,V,Er aß ein Sandwich.,He ate a sandwich.,Wir haben zu Mittag gegessen.,We had lunch.,2
5,3,gehen,V,Er ging zur Schule.,He went to school.,Wir sind nach Hause gegangen.,We went home.,2
7,4,haben,V,Ich hatte keine Zeit.,I had no time.,Er hat viel Geld gehabt.,He had a lot of money.,2
9,5,heißen,V,Er hieß Peter.,His name was Peter.,Sie hat anders geheißen.,Her name was different.,3
...,...,...,...,...,...,...,...,...
7392,3074,danke,Part,Danke für deine Hilfe.,Thanks for your help.,Danke.,,2
7396,3077,halt,Part,Das ist halt so.,That is just the way it is.,Halt!,,2
7398,3078,noch mal,Part,Kannst du das noch mal erklären?,Can you explain that once more?,Noch mal!,,2
7400,3079,nochmal,Part,Danke nochmal für deine Hilfe.,Thanks again for your help.,Nochmal.,,2
7403,3080,sowieso,Part,Das Nummernschild war K sowieso 132. Ich hab’s...,The number plate was K something 132. I couldn...,Männer sind halt alle gleich. — Sowieso.,Men are all the same. — Of course.,2

In [76]:
flat_df.to_clipboard(index=False)

In [79]:
imported_df = pd.read_clipboard()

In [81]:
imported_df.to_csv("imported_df.csv", index=False)

### Google Sheets instructions

1. Open Google Sheets and import the CSV saved above (`File → Import → Upload`).
2. Add helper columns, for example:
   - `=DETECTLANGUAGE(D2)` to label German vs. English (`D` = `example_en`).
   - `=GOOGLETRANSLATE(D2, "auto", "en")` to see Google’s English translation.
   - Compare the translation with the original to decide whether the sentence should move to `examples` and what the correct English translation should be.
3. Add your own decision columns, e.g.:
   - `action` (`APPLY`, `SKIP`, `REVIEW`)
   - `final_german_sentence` (optional if you want to rewrite the German sentence)
   - `final_english_translation` (the version you want stored under `translations.en`)
4. When you finish curating, export the sheet as CSV and save it to `tmp/examples_from_google_sheets.csv` (or adjust `IMPORT_PATH` in the notebook).

In [ ]:
if not IMPORT_PATH.exists():
    raise FileNotFoundError(
        f"{IMPORT_PATH} does not exist. Export your Google Sheet as CSV and place it at this path."
    )

decisions = pd.read_csv(IMPORT_PATH)
expected_columns = {"id", "action", "final_english_translation"}
missing = expected_columns - set(decisions.columns)
if missing:
    raise ValueError(f"The decisions CSV is missing required columns: {missing}")

decisions["action"] = decisions["action"].astype(str).str.upper().str.strip()
decisions = decisions[decisions["action"].isin(["APPLY", "APPLY_ALL"])]

if decisions.empty:
    raise ValueError("No rows marked for APPLY in the imported CSV.")

print(f"Loaded {len(decisions)} rows marked for APPLY from the sheet.")
decisions.head()

In [ ]:
merged = df.merge(decisions, on="id", how="inner", suffixes=("", "_sheet"))
print(f"Merged {len(merged)} curated rows with database entries.")
merged.head()

In [ ]:
def build_updated_examples(row: pd.Series) -> List[Dict[str, Any]]:
    examples = list(row.examples)
    german_sentence = (row.get("final_german_sentence") or row.example_en or "").strip()
    english_translation = (row.get("final_english_translation") or row.example_en or "").strip()

    if not german_sentence:
        return examples

    target = None
    for entry in examples:
        if not isinstance(entry, dict):
            continue
        sentence = (entry.get("sentence") or "").strip()
        if sentence and sentence.lower() == german_sentence.lower():
            target = entry
            break

    if target is None:
        target = {"sentence": german_sentence, "translations": None}
        examples.append(target)

    translations = target.get("translations") or {}
    translations["en"] = english_translation
    target["translations"] = translations

    return examples


updates: List[Dict[str, Any]] = []
for _, row in merged.iterrows():
    updated_examples = build_updated_examples(row)
    updates.append(
        {
            "id": int(row.id),
            "lemma": row.lemma,
            "pos": row.pos,
            "examples": updated_examples,
        }
    )

print(f"Prepared {len(updates)} example updates based on the sheet decisions.")
updates[:3]

In [ ]:
APPLY_UPDATES = False  # <- set to True after reviewing the 'updates' preview above

if APPLY_UPDATES:
    with engine.begin() as conn:
        for payload in tqdm(updates, desc="Updating words table"):
            conn.execute(
                text(
                    """
                    UPDATE words
                    SET examples = :examples::jsonb,
                        example_en = NULL,
                        updated_at = NOW()
                    WHERE id = :word_id
                    """
                ),
                {
                    "examples": json.dumps(payload["examples"]),
                    "word_id": payload["id"],
                },
            )
    print("Database updates applied. Re-run the export to verify, and keep the duplicate table for safety.")
else:
    print("APPLY_UPDATES is False. Review 'updates' and toggle the flag when you are ready to write changes.")